# Ignore output directories
README.md
test_output/
output/
programs/
logs/
databases/
run_dbcan-master/
.nextflow/
data/
tests/master.zip
tests/*.txt
tests/bigslice_testing/
tests/test_data/
tests/clustering_test*
tests/test_oe/
tests/test_outputs/
tests/fixed_CDS
*.log
tests/repeat_problem_children
brooke1/
tree/