# Ignore output directories
README.md
test_output/
output/
programs/
logs/
databases/
run_dbcan-master/
tests/master.zip
tests/*.txt
.nextflow/
data/
tests/test_data/
tests/clustering_test_1/
tests/test_oe/
tests/test_outputs/
*.tmp
*.log
tests/repeat_problem_children
brooke1/
tree/